<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AmazonSuite">

  <test name="Regression1">
    <groups>
    
    

      <!-- Define MetaGroups -->
      <define name="functional">
        <include name="regression"/>
        <include name="sanity"/>
      </define>

      <define name="all">
        <include name="smoke"/>
        <include name="functional"/>
      </define>

      <!-- Run everything in 'all' except broken tests -->
      <run>
        <include name="all"/>
        <exclude name="broken"/>
      </run>
    </groups>

    <classes>
      <class name="Projects.EcommerceTest"/>
    </classes>
  </test>

</suite>
